{:infer-externs true, :output-dir "public/cljs-selfhost", :process-shim false, :optimizations :simple, :output-to "public/cljs-selfhost/cljs.js", :asset-path "cljs-selfhost", :target :default, :main selfhost.core, :pretty-print false}